       
     .j_dc_image_hover{
         
        font-family: 'Averia Sans Libre', cursive;
            margin: auto; 
       }
         
         .j_dc_image_hover_image_div{
            background: #1abc9c;           
             display: inline-block;
             width: 250px;
            height: 250px;
            overflow: hidden;
         }
         
        .j_dc_image_hover_image_div img{
            width: 250px;
            height: 250px;
            vertical-align: middle;
          
            
        }
        
       
       
        .dc_img_column{
            text-align: center;
            margin: auto;
            position: relative;
           
            margin-bottom: 10px;
            
        }
        
        .j_dc_image_hover_link{
            z-index: 100;
            text-align: center;
            position: absolute;
            color: white;
            font-size: 24px;
            font-weight: bold;
            background-color: #DC4343;
            padding: 20px 30px;
            display:none;
            width: 170px;
        }
        .j_dc_image_hover_link:hover{
           
            color: white;
            
        }
        
        
         
        .opacity_effect{ 
            opacity: 1;
            -webkit-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            
        }
        .opacity_effect:hover img{
             opacity: .5;
        }
        
        
        .zoom_out_effect img {
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
            -webkit-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
        }
        .zoom_out_effect:hover img {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        
        .zoom_in_effect img {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
         }
        .zoom_in_effect:hover img {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }


        .j_dc_image_hover_h2{
        text-align: center;
        background-color: #EC4D4D;
        color: #ffffff
        ;margin: auto
        ;padding: 10px 0px 10px 0px;
        margin-bottom: 10px;
        }